dist: xenial
language: cpp
compiler:
  - gcc
env:
  global:
    - SENTENCEPIECE_VERSION="0.1.8"
  matrix:
    - WITH_ICU="ON"
    - WITH_ICU="OFF"
cache:
  directories:
    - $HOME/googletest-1.8.0/
    - $HOME/sentencepiece-$SENTENCEPIECE_VERSION/
addons:
  apt:
    packages:
      - build-essential
      - cmake
      - libboost-program-options-dev
      - libicu-dev
before_install:
  - export ROOT_TRAVIS_DIR=$(pwd)
  - |
    if [ ! -d $HOME/googletest-1.8.0/lib ]; then
      wget https://github.com/google/googletest/archive/release-1.8.0.tar.gz
      tar xf release-1.8.0.tar.gz
      cd googletest-release-1.8.0/
      mkdir install
      mkdir build && cd build
      cmake -DCMAKE_INSTALL_PREFIX=$HOME/googletest-1.8.0/ ..
      make && make install
      cd $ROOT_TRAVIS_DIR
    fi
  - |
    if [ ! -d $HOME/sentencepiece-$SENTENCEPIECE_VERSION/lib ]; then
      wget https://github.com/google/sentencepiece/archive/v$SENTENCEPIECE_VERSION.tar.gz
      tar xf v$SENTENCEPIECE_VERSION.tar.gz
      cd sentencepiece-$SENTENCEPIECE_VERSION
      mkdir build
      cd build
      cmake -DCMAKE_INSTALL_PREFIX=$HOME/sentencepiece-$SENTENCEPIECE_VERSION ..
      make
      make install
      cd $ROOT_TRAVIS_DIR
    fi
install:
  - export TOKENIZER_ROOT=$HOME/Tokenizer
  - export SENTENCEPIECE_ROOT=$HOME/sentencepiece-$SENTENCEPIECE_VERSION
  - mkdir build && cd build
  - cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$TOKENIZER_ROOT -DCMAKE_PREFIX_PATH=$SENTENCEPIECE_ROOT -DGTEST_ROOT=$HOME/googletest-1.8.0 -DWITH_ICU=$WITH_ICU ..
  - make install
  - cd $ROOT_TRAVIS_DIR
script:
  - build/test/onmt_tokenizer_test test/data

matrix:
  include:
    - env:
        - TWINE_REPOSITORY_URL="https://upload.pypi.org/legacy/"
      services:
        - docker
      before_install:
        - docker pull quay.io/pypa/manylinux1_x86_64
        - docker run -v $PWD:/root -w /root quay.io/pypa/manylinux1_x86_64 bash /root/bindings/python/tools/build_wheel.sh
        - pip install --user pytest twine
        - pip install --user torch==1.2.0+cpu torchvision==0.4.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
      install:
        - pip install --user wheelhouse/*27mu*.whl
      script:
        - pytest bindings/python/test/test.py
      after_success:
        - |
              if [[ -n $TRAVIS_TAG ]]; then
                  twine upload wheelhouse/*.whl
              fi
