sudo: false
language: cpp
compiler:
  - gcc
  - clang
cache:
  directories:
    - $HOME/googletest-release-1.8.0/
addons:
  apt:
    sources:
      - george-edison55-precise-backports
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
      - cmake
      - cmake-data
      - libboost-dev
      - libboost-program-options-dev
before_install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
  - export ROOT_TRAVIS_DIR=$(pwd)
  - cd $ROOT_TRAVIS_DIR
  - |
    if [ ! -d googletest-release-1.8.0/ ]; then
      wget https://github.com/google/googletest/archive/release-1.8.0.tar.gz
      tar xf release-1.8.0.tar.gz
      cd googletest-release-1.8.0/
      mkdir install
      mkdir build && cd build
      cmake -DCMAKE_INSTALL_PREFIX=../install ..
      make && make install
      cd $ROOT_TRAVIS_DIR
    fi
install:
  - mkdir build && cd build
  - cmake -DCMAKE_BUILD_TYPE=Release -DGTEST_ROOT=$ROOT_TRAVIS_DIR/googletest-release-1.8.0/install/ ..
  - make
script:
  - test/onmt_tokenizer_test ../test/data
